@page
@model IndexModel
@{
    ViewData["Title"] = "Settings";
}
<div class="container">
    <!-- Display the succes message -->
    @if ((bool)ViewData["Succes"]!)
    {
        <div class="alert alert-success" role="alert">
            Succesvol opgeslagen!
        </div>
    }
    <form method="post">
        <div class="row p-1">
            <div class="col-6">Tijd tussen locatie tonen (in minuten).</div>
            <div class="col-6">
                <input type="number" id="locShown" placeholder="5" asp-for="Settings!.TimeBetween" />
            </div>
            <span asp-validation-for="Settings!.TimeBetween" class="text-danger"></span>
        </div>
        <div class="row p-1">
            <div class="col-6">Stel speeltijd in, deze timer start nadat op start gedrukt wordt (in minuten).</div>
            <div class="col-6">
                <input type="number" id="messageInput" placeholder="60" asp-for="Settings!.GameTime" />
            </div>
            <span asp-validation-for="Settings!.GameTime" class="text-danger"></span>
        </div>
        <div class="row p-1">
            <div class="col-6">Kies het aantal <b>jagers</b> in het spel.</div>
            <div class="col-6">
                <input type="number" id="messageInput" placeholder="2" asp-for="Settings!.HunterAmount" />
            </div>
            <span asp-validation-for="Settings!.HunterAmount" class="text-danger"></span>
        </div>
        <div class="row p-1">
            <div class="col-6">Kies het aantal <b>lopers</b> in het spel.</div>
            <div class="col-6">
                <input type="number" id="messageInput" placeholder="1" asp-for="Settings!.RunnerAmount" />
            </div>
            <span asp-validation-for="Settings!.RunnerAmount" class="text-danger"></span>
        </div>
        <div class="row p-1">
            <div class="col-8 text-end">
                <input type="submit" value="Save & Start timer" class="btn btn-primary sendButton" />
            </div>
        </div>
    </form>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
