@page
@model JachtSeizoen.Pages.JagerModel
@{
    ViewData["Title"] = "Jager";
}
<div class="container">
    <div id="map"></div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/kaart.js"></script>