@page
@model JachtSeizoen.Pages.PlayerModel
@{
    ViewData["Title"] = "Playing...";
}
<div class="container">
    <div id="map"></div>
    <div>
        <p class="timer">Tijd tot delen locatie:  <b>timer</b></p>
        <p class="timer">Speeltijd:  <b>@Model.GameTimeString</b></p>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/kaart.js"></script>